@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,700;1,800;1,900&display=swap');


h4 {
    font-size: 3rem;
}

h5 {
    font-size: 2rem;
}

.fontstyle7 {
    font-size: 1.6rem;
    text-align: center;
}

.fontstyle8 {
    font-size: 1.4rem;
    text-align: center;
    
}

.fontstyle9 {
    font-size: 1.3rem;
    color: #202020;
    margin: 0 0 10px 0px;
    line-height: 2.6rem;
    text-align: center;
}

.fontstyle10 {
    font-size: 1.3rem;
    color: gray;
    line-height: 2.3rem;
    margin: 5px 0px;
}
.fontstyle11 {
    font-size: 1.4rem;
    color: #202020;
    line-height: 2.3rem;
}

.fontstyle12 {
    font-size: 2rem;
    color: #202020;
    margin: 0 0 10px 0px;
    text-align: left;
    line-height: 2.6rem;
    font-weight: 700;
}

.article1 {
    width:1400px;
    margin: 0px auto;
    background-color: #f7f7f7;
}

#article {
  background-image: url("https://images.unsplash.com/photo-1528731708534-816fe59f90cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2400&q=80") !important;
  background-size: 100%;
  background-repeat: repeat;
}

#article:before {
	content: ""; opacity: 0.1; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background-color: #000; width: 100%;  
	}

#article .innerwrap{
	position: relative;
	}

#article1to3{
    width: 1400px;
    height: 570px;
    margin: 110px 0px 0 0px;
}


.article1-1, .article1-2, .article1-3, #article1-4{
    background-color: #fff;
    width: 100%;
}

.article1-1, .article1-2 {
    height: 55px;
    display: flex;
    flex-flow: row;
    align-items: center; 
    margin: 0px 0px !important;
}

#keywrap{
    width: 43px; height: 43px;
    margin: 0 10px 0 15px;
    position: relative;
}

.article1-2-1-tri {
    position: absolute;
    width: 20px; height: 20px;
    top: 15px; left: 15px;
    animation-name: merry-go-round;
    animation-duration: 4s;
    animation-duration: leaner;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    animation-timing-function:ease-in-out;
}

@keyframes merry-go-round {
    0% {transform: rotate(0deg); background: linear-gradient(to right, #33d1ea, pink);}
    5% {transform: rotate(18deg);}
    10% {transform: rotate(36deg); background: linear-gradient(to bottom right,#33d1ea, pink);}
    15% {transform: rotate(54deg);}
    20% {transform: rotate(72deg);}
    25% {transform: rotate(90deg); background: linear-gradient(to bottom, #33d1ea, pink);}
    30% {transform: rotate(108deg);}
    35% {transform: rotate(126deg);}
    40% {transform: rotate(144deg); background: linear-gradient(to bottom left, #33d1ea, pink);}
    45% {transform: rotate(162deg);}
    50% {transform: rotate(180deg);}
    55% {transform: rotate(198deg); background: linear-gradient(to left, #33d1ea, pink);}
    60% {transform: rotate(216deg);}
    65% {transform: rotate(234deg);}
    70% {transform: rotate(252deg); background: linear-gradient(to top left, #33d1ea, pink);}
    75% {transform: rotate(270deg);}
    80% {transform: rotate(288deg);}
    85% {transform: rotate(304deg); background: linear-gradient(to top, #33d1ea, pink);}
    90% {transform: rotate(326deg);}
    95% {transform: rotate(344deg); background: linear-gradient(to top right, #33d1ea, pink);}
    100% {transform: rotate(360deg); background: linear-gradient(to right, #33d1ea, pink);}
}


.article1-2-1 {
    height: 50px;
    margin: 5px 0px;
    display: flex;
}

.article1-2-1-1 {
    width: 120px;
    height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.article1-2-1-2 {
    width: 220px;
    height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
}

select {
    width: 100px;
    margin: 0px 10px 0px 0px;
    padding: 2px 0px;
    border: 1px solid #232b3e;
}

#btn0 {
    width: 90px;
    background-color: #fff;
    color:#000;
    border: 1px solid #232b3e;
    padding: 3px 0px;
}

#btn0:hover {
    cursor: pointer;
}

.article1-3 {
    width: 1400px;
    margin: 20px auto;
}

#article1-3-1 > div >div {
    display: flex;
    flex: row; align-items: center; justify-content: center;
}

#article1-3-1-1 {
    background-color: #ededed;
}

#article1-3-1-1, .article1-3-1-2{
    display: flex;
    flex-flow: row;
}

#article1-3-1-1>div, .article1-3-1-2>div{
    width: 20%;
    height: 33px;
}

#article1-3-1{
    height: auto;
}

#article1-3-1-1-0{
    background-color: #ededed;
    padding: 1px 0px;
}
.rewritebook{
    margin: 2px 0px;  
    background-color: #fff;
}
.rewritebook > div{
display: flex; flex: row; align-items: center; justify-content: center;
}

.rewritebook:hover{
	background-color: pink;
	cursor:pointer;
}

#article1-3-1-page{
    margin: 10px 0px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

#article1-4 {
    width: 1400px;
    background-color: #f7f7f7;
    overflow: scroll;
}

#article1-4 .fontstyle1 {
    text-align: center;
}

#article1-4::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera*/
}

#article1-4-1 {
    width: 940px;
    height: auto;
    padding: 0px 20px;
    min-height: 900px;
    float: left;
}


/*
    border: 1px solid #999;
    box-shadow: 2px 2px 20px rgb(0 0 0 / 6%), 2px 2px 10px rgb(0 0 0 / 4%);
*/


#booknote2, #booknote4 {
    margin: 0px 0px 30px 0px;
}

input:focus {
    outline: none;
}

input[type=text] {
    padding: 15px;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

#booknote2 input[type=text] {
    width: 100%;
    height: 50px;
    margin: 20px 0 0 0px;
}

#booknote4 input[type=text] {
    width: 100%;
    height: 45px;
    margin: 5px 0px;
}

textarea {
    width: 100%;
    height: 140px;
    margin: 10px 0 30px 0px;
    padding: 5px 10px;
    outline: none;
    resize: none;
    font-size: 1.5rem;
    line-height: 2.5rem;
}

#booknote8 textarea {
    height: 300px;
}

#booknote9 {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

button:hover {
    cursor: pointer;
}

.btn1 {
    width: 110px;
    height: 40px;
    margin: 20px 50px 60px 0px;
    color: #f7f7f7;
    background-color: rgba(243, 87, 87, 1);
    border-radius: 5px;
    border: none;
}

.btn2 {
    width: 110px;
    height: 40px;
    margin: 20px 0px 60px 0px;
    color: #f7f7f7;
    background-color: #92B4EC;
    border-radius: 5px;
    border: none;
}


#article1-4-2 {
    width: 410px;
    height: 100%;
    padding: 30px 20px;
    display: flex;
    border: 1px solid #999;
    border-radius: 10px;
    background-color: #fff;
}

#article1-4-2 img{
    width:120px;
    margin: 0 20px 0 0px;
}

#booknote2 input[type=text]{
    margin:0px !important;
}
