@charset "utf-8";

#wrap {min-width: 1200px;}

#article{
  background:#a39cbb;
}

.innerwrap{
 padding: 0px 10em; margin: 0 auto;
} 


.fontstylebook{
  font-size: 80px; color: #947EC3; z-index: 100;
}


#article1-1 {
  min-width:20%;
  height: 700px;
  padding: 20px 0px;
  background-color: #ededed;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  box-shadow:4px 12px 30px 6px rgb(0 0 0 / 9%);
}

#article1-2 {
  min-width:40%;
  height: 700px;
  margin: 0px 30px;
  padding: 20px 0px;
  background-color: #ededed;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow:4px 12px 30px 6px rgb(0 0 0 / 9%);
}

#article1-3 {
  min-width: 25%;
  height: 700px;
  padding: 20px 0px;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #ededed;
  box-shadow:4px 12px 30px 6px rgb(0 0 0 / 9%);
}

#article1-1,#article1-2,#article1-3{
	transition:all 0.3s ease ;
}

.fontstyle6 {
  font-size: 2.4rem;
  color: #202020;
  margin: 0px 0px 35px 0px;
}

.fontstyle7 {
  font-size: 1.8rem;
  color: #202020;
  margin: 0px 0px 20px 0px;
  cursor:pointer;
}

.fontstyle8 {
  font-size: 2.5rem;
  font-weight:600;
  line-height: 3.8rem;
  color: #202020;
  margin: 10px 0px 20px 0px;
  text-align: center;
}

.fontstyle9 {
  font-size: 1.5rem;
  color: #202020;
  margin: 0 0 20px 0px;
}

.fontstyle12 {
  font-size: 1.4rem;
  color: #202020;
  margin: 0 0 10px 0px;
}

.fontstyle13 {
  font-size: 1.2rem;
  color: #999;
  margin: 0 0 5px 0px;
}


.fontstyleOpcity0 {
  font-size: 1.3rem;
  color: #202020;
  margin: 0 0 5px 0px;
  display:none;
}


#article1 {
  min-width: 1200px;
  height: auto;
  margin: 70px 0px;
  display: flex;
  justify-content: space-evenly;
}

#article1> div{
  border-radius:75px;
}

#article1> div:hover{
  box-shadow:4px 12px 20px 6px rgba(0,0,0,.30);
}


#article1-1-1 {
  width: 265px;
  height: 130px;
  display: flex;
  flex-flow: row;
}


#article1-1-1-1 {
  width: 36%;
  height: 100%;
  padding: 0px 7px;
  display: flex;
  flex-flow: row;
  align-items: center;

}

#article1-1-1-1>div {
  width: 80px;
  height: 80px;
  background-color: #d5c4fa;
  border-radius: 70%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}
/*유저이미지*/

#article1-1-1-1>div:hover {
  border: 3px solid #505add;
}

/*이거 선생한테만 있음*/
#article1-1-1-1>div:hover {
  cursor: pointer;
}
.goReviewlist{
	float: right;
    font-size: 1.8rem;
    font-weight: 500;
}
#article1-1-1-1 i {
  font-size: 47px;
}

#article1-1-1-2 {
  width: 64%;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

#article1-1-2 {
  width: 85%;
  height: 250px;
  padding: 0px 7px;
}

#article1-1-3 {
  width: 85%;
  height: 180px;
  padding: 0px 7px;
}


#article1-2>div {
  width: 95%;
  margin: 0 0 25px 0px;
}

#article1-2-1 {
  text-align: center;
}

#article1-2-2 {
    height: 340px;
    margin: 20px 0px 30px 0px !important;
    border-radius: 5px;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    OVERFLOW-Y: scroll;
    border:1px solid;
}

#article1-2-2::-webkit-scrollbar {
  display: none;
}

#article1-2-2>div, #article1-2-2>a>div{
  display: flex; flex-flow: row;
}

#article1-2-2>div>div, #article1-2-2>a>div>div{
  width: 25%; height: 33.33px;
  border: 1px solid gray;
}

#article1-2-3 button:hover {
  cursor: pointer;
}

.card-inner{
	width: 200px;
    height: 300px;
    border: 1px solid;
    overflow:hidden;
    border-radius:14px;
    background: #F3904F;
	background: linear-gradient(to top, #F3904F, #3B4371);
    
}


.book-thumbnail{
	overflow: hidden;
    width: 150px;
    height: 150px;
    border: 1px solid;
    border: 100%;
    border-radius: 100%;
    margin: 10px auto;
    background: #fff;
}

.my-Book{
	margin-top: 44px;
}

.book-info{
  height: 50%;
  border: 1px solid;
  padding: 30px 0;
  border-radius: 25px 25px 0 0;
  background: rgba(0,0,0,0.5);
  color: #fff;
}

#article1-2-3 button {
  width: 100%;
  height: 60px;
  background-color: #92B4EC;
  border: none;
  border-radius: 10px;
  margin: 40px 0 0 0px;
  color: #f7f7f7;
  font-weight:600;
}


#article1-3-1 {
  margin: 0 0 40px 0px;
  width: 340px;
  height: 280px;
  overflow: hidden;
}

#article1-3-2 {
  width: 340px;
  margin: 0px 20px;
  overflow: hidden;
}


#article1-3-2-1 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  overflow: hidden;
}

.articleBook {
  width: 100px;
  height: 315px;
  float: left;
  margin: 0 6px;
}

.articleBook img {
  width: 100px; height:148px;
  margin: 10px 0px;
}




#article1-3-1 .fontstyle9,
#article1-1-2 .fontstyle7,
#article1-1-3 .fontstyle9, 
.articleBook{
  cursor: pointer;
}

input[type=password] {
  margin: 0 0 10px 0px;
  padding: 12px;
  font-size: 1.5rem;
  line-height: 1.7rem;
}

/*더미 링크용 포인터 변경*/

/*이하 표 추가 퍼블리싱 작업*/

#article1-2-2 .fontstyle12{
	line-height: 3rem;
	font-size: 1.5rem;
}

#article1-2-2 .fontstyle13{
	line-height: 3rem;
	font-size: 1.4rem;
	color: #333333;
}

#article1-2-2 {
	background-color:#fff;
	
	
	}
#article1-2-2-1{
	background-color: #dee2e6;
}

#article1-2-2-2{
	margin:1px 0px;
}


#article1-2-2-2:hover{
	background-color: #e1daef;
}

