<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reviewMapper">

	<insert id="insertReview" parameterType="review">
		INSERT INTO REVIEW
			(
			 REVIEW_NO,
			 REVIEW_TITLE,
			 REVIEW_IMPORTENT,
			 REVIEW_CONTENT,
			 REVIEW_FEEL,
			 REVIEW_DATE,
			 BOOK_IMG,
			 BOOK_NAME,
			 BOOK_WRITER,
			 BOOK_COMPANY,
			 CHECK_NO,
			 MEMBER_NO
			)
		VALUES
			(
			 null,
			 #{reviewTitle},
			 #{reviewImportent},
			 #{reviewContent},
			 #{reviewFeel},
			 now(),
			 #{bookImg},
			 #{bookName},
			 #{bookWriter},
			 #{company},
			 1,
			 #{memberNo}
			)
	
	</insert>

	<select id="getReviwList"  resultType="review">
			SELECT * FROM REVIEW WHERE MEMBER_NO=#{userNo} order by REVIEW_DATE DESC
	</select>
	
	<select id="getNewImp" resultType="int">
	    SELECT count(`CHECK_NO`) FROM  REVIEW WHERE MEMBER_NO=#{userNo} AND CHECK_NO !=1
	</select>
	

</mapper>