<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="com.eco.test.book.model.vo.Book" alias="book" />
		<typeAlias type="com.eco.test.member.model.vo.Member" alias="member" />
		<typeAlias type="com.eco.test.review.model.vo.Review" alias="review" />
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/book-mapper.xml" />
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/review-mapper.xml" />
	</mappers>
</configuration>
	
	